<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.courses.mapper.CoursesMapper">
    
    <resultMap type="Courses" id="CoursesResult">
        <result property="courseId"    column="course_id"    />
        <result property="courseName"    column="course_name"    />
        <result property="courseNredit"    column="course_nredit"    />
        <result property="courseProperty"    column="course_property"    />
        <result property="courseGrade"    column="course_grade"    />
        <result property="courseSemester"    column="course_semester"    />
        <result property="courseRequirements"    column="course_requirements"    />
        <result property="courseMatrix"    column="course_matrix"    />
    </resultMap>

    <sql id="selectCoursesVo">
        select course_id, course_name, course_nredit, course_property, course_grade, course_semester, course_requirements, course_matrix from courses
    </sql>

    <select id="selectCoursesList" parameterType="Courses" resultMap="CoursesResult">
        <include refid="selectCoursesVo"/>
        <where>  
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="courseNredit != null  and courseNredit != ''"> and course_nredit = #{courseNredit}</if>
            <if test="courseGrade != null  and courseGrade != ''"> and course_grade = #{courseGrade}</if>
        </where>
    </select>
    
    <select id="selectCoursesByCourseId" parameterType="String" resultMap="CoursesResult">
        <include refid="selectCoursesVo"/>
        where course_id = #{courseId}
    </select>

    <insert id="insertCourses" parameterType="Courses">
        insert into courses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null and courseId != ''">course_id,</if>
            <if test="courseName != null and courseName != ''">course_name,</if>
            <if test="courseNredit != null and courseNredit != ''">course_nredit,</if>
            <if test="courseProperty != null and courseProperty != ''">course_property,</if>
            <if test="courseGrade != null and courseGrade != ''">course_grade,</if>
            <if test="courseSemester != null and courseSemester != ''">course_semester,</if>
            <if test="courseRequirements != null">course_requirements,</if>
            <if test="courseMatrix != null">course_matrix,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null and courseId != ''">#{courseId},</if>
            <if test="courseName != null and courseName != ''">#{courseName},</if>
            <if test="courseNredit != null and courseNredit != ''">#{courseNredit},</if>
            <if test="courseProperty != null and courseProperty != ''">#{courseProperty},</if>
            <if test="courseGrade != null and courseGrade != ''">#{courseGrade},</if>
            <if test="courseSemester != null and courseSemester != ''">#{courseSemester},</if>
            <if test="courseRequirements != null">#{courseRequirements},</if>
            <if test="courseMatrix != null">#{courseMatrix},</if>
         </trim>
    </insert>

    <update id="updateCourses" parameterType="Courses">
        update courses
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
            <if test="courseNredit != null and courseNredit != ''">course_nredit = #{courseNredit},</if>
            <if test="courseProperty != null and courseProperty != ''">course_property = #{courseProperty},</if>
            <if test="courseGrade != null and courseGrade != ''">course_grade = #{courseGrade},</if>
            <if test="courseSemester != null and courseSemester != ''">course_semester = #{courseSemester},</if>
            <if test="courseRequirements != null">course_requirements = #{courseRequirements},</if>
            <if test="courseMatrix != null">course_matrix = #{courseMatrix},</if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteCoursesByCourseId" parameterType="String">
        delete from courses where course_id = #{courseId}
    </delete>

    <delete id="deleteCoursesByCourseIds" parameterType="String">
        delete from courses where course_id in 
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>
</mapper>